*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
} 
 

/*Navbar*/


.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  lightslategray;
    position: sticky;
    top: 0;
}

.navbar ul{
    display: flex; 
    list-style: none; 
    margin: 20px 0px;
}

.navbar ul li{
    font-family: century;
    font-size: larger;
    font-weight: bolder;
}

.navbar ul li a{
    text-decoration: dotted;
    color: whitesmoke; 
    padding: 8px 25px;
    transition: all .3s;
}

.navbar ul li a:hover{
    background-color: darkgrey;
    color: black;
    box-shadow: 0 0 5px black;
}


/*Home section*/


 #home{
    display: flex;
    flex-direction: column; 
    background-color: black;
    height: 840px;
    justify-content: center;
    align-items: center; 
    color:   rgba(34, 93, 156, 0.647); 
} 

/* span{
    color: rgb(47, 0, 90);
} */


#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    /*background: url(images/img3.jpeg);*/
    height: 700px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.main{
    display: flex;
    flex-direction: column;
    /*border: 1px solid black;*/
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}

.headings{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 500%;
    font-style: italic;
    text-align: center;
    margin: 40px 0px;
    color:    rgb(150, 52, 76);
}

.btn{
    padding: 10px 35px;
    background-color: black;
    border: 4px solid  rgb(150, 52, 76);
    color: wheat;
    outline: none;
    transition: .4s ease;
}

.btn:hover{
    cursor: pointer;
    background-color: black;
    color:  rgb(150, 52, 76);
    box-shadow: 5px 5px px  ;
    font-weight: bolder;
}


/* About section */


#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    margin-bottom: 50px;
    background-color: black;
    color: rgb(212, 152, 182);
    font-family: cursive;
    font-size: medium;
}

#about .headings{
    font-weight: bolder;
    font-size: 380%;
    font-style:italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.headings h2 p{
    color: wheat;
}

#pic{
    display: flex;
}

#pic img{
    width: auto;
    height: 550px;
    padding: 30px;

}

#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 50px;
    font-size: 25px;
    height: auto;
    width: auto;
}

#intro h2{
    font-size: 27px;
    margin-bottom: 20px;
}


/* Education section */


#education{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: black;
    color: wheat;
}

#education .headings{
    font-weight: bolder;
    font-size: 380%;
    font-style:italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 480px;
    margin: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    transition:  .4s;
    border: 1px solid   rgb(150, 52, 76);
    outline: none;
}
.box h1{
    padding: 20px;
}

.box:hover{
    background-position: left bottom;
    color: rgb(150, 52, 76);
    box-shadow: 2.5px 2.5px 25px  rgb(150, 52, 76);
} 


/* Experience section */


 #experience{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: wheat;
    align-items: center;
    padding: 20px;
}

#experience .headings{
    font-weight: bolder;
    font-size: 380%;
    font-style:italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* Interest section */


#skills {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: wheat;
    align-items: center;
    padding: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#skills .headings{
    font-weight: bolder;
    font-size: 380%;
    font-style:italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.box{
    height: auto;
}

.box:hover{
    background-position: left bottom;
    color:   rgb(150, 52, 76); 
    box-shadow: 2px 2px 20px   rgb(150, 52, 76);
} 


/* Contact section */


 #contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: black;
    padding: 20px;
} 

#contact .headings{
    font-weight: bolder;
    font-size: 380%;
    font-style:italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}

.input{
    padding: 12px;
    margin: 15px;
    width: 27%;
    border: none;
    outline: auto;
}

.mail{
    padding: 12px;
    margin: 15px;
    width: 25%;
    border: none;
    outline: auto;
}

.phn{
    padding: 12px;
    margin: 15px;
    width: 23%;
    border: none;
    outline: auto;
}

#msg{
    width: 27%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: auto;
}

#send{
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: 4px solid  rgb(150, 52, 76);
    background-color: black;
    color: wheat;
    outline: none;
    transition: .5s ease;
}

#send:hover{
    cursor: pointer;
    background-color: black;
    color:  rgb(150, 52, 76);
    box-shadow: 4px 4px 10px  rgb(150, 52, 76);
    font-weight: bolder;
}

/* More Info, section */


#footer{
	position: relative;
	width: 100%;
	height: 400px;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#footer .headings{
    font-weight: bolder;
    font-size: 380%;
    font-style:italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#footer b:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}

#footer b:nth-child(2){
	color: white;
	font-size: 17px;
	width: 100%;
	text-align: center;
	list-style-type: 26px;
}

 .social{
	display: flex;
} 

.social a{
	width: 45px;
	height: 45px;
	display: flex;
	background-color:   rgb(150, 52, 76);
	border-radius: 50%;
	margin: 20px 15px;
	color: white;
	text-decoration: none;
	font-size: 30px;
	padding: 3px;
}

.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}

.social i{
	font-size: 30px;
	display: flex;
	color: black;
	align-items: center;
    padding: 6px;
}

footer{
    position: relative;
	width: 100%;
	height: 400px;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer {
    font-weight: lighter; 
    font-size: 320%;
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color: lightcoral;
}
